.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.App-content {
    margin-top: 50vh;
    transform: translateY(-50%);
    max-height: 90vh;
    color: #19373f;
    text-align: center;
    background-color: white;
    border-radius: 40px;
    padding: 1rem;
}